<nav>
  <ol>
    <li><a href="/"> Home </a></li>
    <li> / View Entry </li>
  </ol>
</nav>
<div >
  {{#each rows}}
  <div>
    <div>
      <h3>{{this.id}}</h3>
    </div>
  </div>
  <div>
    <div>
      <table>
        <thead>
          <tr>
            <th> date </th>
            <th> username </th>
            <th> feeling </th>
            <th> diary </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>{{this.date}}</th>
            <td>{{this.username}}</td>
            <td>{{this.feeling}}</td>
            <td>{{this.diary}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{/each}}
</div>